/* General Styling */

html,
body {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Alegreya Sans SC', sans-serif;
}

p,
#textBody,
li,
button,
footer,
.well>a,
span,
div {
	font-family: 'Belleza', sans-serif !important;
	/* font-size: 110%; */
}

a:hover,
a:focus {
	text-decoration: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}

#background {
	background-color: #F0F6FC;
	padding-top: 20px;
	padding-bottom: 120px;
	border-right: 1px solid rgb(213, 213, 213);
	border-left: 1px solid rgb(213, 213, 213);
	height: 100%;
	margin: 0 auto -120px;
}

#wrap {
	min-height: 400px;
}

/* End General Styling */

/* Edit/Add Page */

.btn-group {
	margin-bottom: 10px;
}

#saveBtn {
	margin-left: 10px;
	margin-right: 10px;
}

#updateBtn {
	margin-left: 10px;
}

form {
	margin-bottom: 400px;
}

#postText {
	text-align: center;
	height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* End Edit/Add Page */

/* Navbar Styling */

core-scroll-header-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* background for toolbar when it is at its full size */
core-scroll-header-panel::shadow #headerBg {
  background-image: url('../resources/img/header.jpg');
  background-position: 0%;
}

/* background for toolbar when it is condensed */
core-scroll-header-panel::shadow #condensedHeaderBg {
  background-color: #FFBA59;
}

core-toolbar {
  color: #fff;
  fill: #fff;
  background-color: transparent;
  height: 365px;
}

core-toolbar a {
	color: #fff;
}

core-toolbar a:hover,a:focus {
	color: #e8e8e8;
	text-decoration: none;
}

/* End Navbar Styling */

/* Drawer Styling */

div[drawer] {
	background-color: #fff;
	padding: 20px;
}

/* End Drawer Styling */

/* Toolbar Styling */

#urlMenu {
	padding: 10px;
	max-width: 250px;
	width: 250px;
}

#urlMenu input {
	margin-bottom: 5px;
}

/* End Toolbar Styling */

/* Post Page */

#socialShare {
	margin-top: 20px;
}

div .g-plus, .fb-share-button, .pinterest {
    font-size: 1px;
    display: inline-block;
    margin: 10px;
}

#textBody {
	text-align: center;
	margin-bottom: 50px;
}

div.inline {
	display: inline-block;
}

.tag {
	margin-top: 5px;
	margin-bottom: 5px;
}

.label {
	font-size: medium;
	font-weight: 400;
	background-color: #FFBA59;
}

#date {
	color: #428bca;
}

.thin-line {
	border-top: 1px solid #000;
	margin-bottom: 50px;
}

#disqus_thread {
	top: 5px;
}

#disqus_container {
	top: 59px;
}

@media (min-width: 1200px) {
	#disqus_thread {
		width: 350px;
	}
}

@media (min-width: 992px) and (max-width: 1190px) {
	#disqus_thread {
		width: 283px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#disqus_thread {
		width: 210px;
	}
}

@media (max-width: 767px) {
	#disqus_thread {
		position: inherit;
	}
	
	body {
		background-color: #F0F6FC;
	}
}

/* Footer */

#footer {
	text-align: center;
	border-top: 1px solid #ddd;
	padding-top: 10px;
	padding-bottom: 20px;
	color: #ddd;
	margin-top: 200px;
}

.tooltip-inner {
    max-width: 350px;
}
