<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

<f:metadata>
	<f:viewParam name="id" value="#{editPostBean.post}"
		converter="com.sechristfamily.blog.PostEditIdConverter"
		converterMessage="Unknown post." />
</f:metadata>

<h:head></h:head>

<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="pageTitle">Edit Post</ui:define>

		<ui:define name="extraStyle">
			<h:outputStylesheet library="css" name="selectize.bootstrap3.css" />
			<h:outputStylesheet library="css" name="datepicker.css" />
		</ui:define>

		<ui:define name="content">
			<div class="container">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-8">
						<h:messages styleClass="text-danger bg-warning list-unstyled"
							style="padding: 10px; text-align: center;" />
					</div>
				</div>
				<h:form styleClass="form-horizontal dropzone" role="form"
					prependId="false">
					<div class="form-group">
						<h:outputLabel for="datePosted" class="col-sm-2 control-label">Date Posted</h:outputLabel>
						<div class="col-sm-8">
							<h:inputText class="form-conrol" id="datePosted"
								value="#{editPostBean.post.datePosted}" p:placeholder="MM/dd/yyyy"
								required="true" requiredMessage="Post Date Required"
								converterMessage="Format for date is MM/dd/yyyy">
								<f:convertDateTime pattern="MM/dd/yyyy" />
							</h:inputText>
						</div>
					</div>
					<div class="form-group">
						<h:outputLabel for="title" class="col-sm-2 control-label">Title</h:outputLabel>
						<div class="col-sm-8">
							<h:inputText class="form-control" id="title"
								value="#{editPostBean.post.title}" required="true"
								requiredMessage="Post Title Required" />
						</div>
					</div>
					<div class="form-group">
						<h:outputLabel for="postText" class="col-sm-2 control-label">Post Text</h:outputLabel>
						<div class="col-sm-8">
							<div class="progress" style="display: none;">
								<div class="progress-bar" role="progressbar" aria-valuenow="0"
									aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
									0%</div>
							</div>
							<div id="toolbar" data-role="editor-toolbar" data-target="#postText">
								<div class="btn-group">
									<a class="btn btn-default dropdown-toggle" data-toggle="dropdown">Font Size<b class="caret"></b></a>
							        <ul class="dropdown-menu">
							        	<li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
							        	<li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
							        	<li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
							        </ul>
						        </div>
						        <div class="btn-group">
							        <a class="btn btn-default" data-edit="bold">B</a>
							        <a class="btn btn-default" data-edit="italic">I</a>
							        <a class="btn btn-default" data-edit="strikethrough">S</a>
							        <a class="btn btn-default" data-edit="underline">U</a>
						    	</div>
						    	<div class="btn-group">
							        <a class="btn btn-default" data-edit="insertunorderedlist">UL</a>
							        <a class="btn btn-default" data-edit="insertorderedlist">OL</a>
							        <a class="btn btn-default" data-edit="outdent">Outdent</a>
							        <a class="btn btn-default" data-edit="indent">Indent</a>
						    	</div>
						    	<div class="btn-group">
							        <a class="btn btn-default" data-edit="justifyleft">Align Left</a>
							        <a class="btn btn-default" data-edit="justifycenter">Center</a>
							        <a class="btn btn-default" data-edit="justifyright">Right</a>
							        <a class="btn btn-default" data-edit="justifyfull">Full</a>
						    	</div>
						    	<div class="btn-group">
									<a class="btn btn-default dropdown-toggle" data-toggle="dropdown">URL <b class="caret"></b></a>
									<div id="urlMenu" class="dropdown-menu">
										<input type="text" class="form-control" id="linkHref"
											placeholder="Link URL" />
										<input type="text" class="form-control" id="linkTitle"
											placeholder="Link Title" />
										<button class="btn btn-default" id="addLink" type="button">Add
											Link</button>
							        </div>
							    	<a class="btn btn-default" data-edit="unlink">Remove URL</a>
							    </div>
							</div>
							<div class="form-control" id="postText" contenteditable="true" />
							<button class="btn btn-default dropzone" id="uploadBtn"
								type="button"></button>
							<h:inputTextarea class="form-control" id="postTextContent"
								value="#{editPostBean.post.text}" style="display: none"
								required="true" requiredMessage="Post Text Required">
								<f:converter
									converterId="com.sechristfamily.blog.PostTextConverter" />
							</h:inputTextarea>
						</div>
					</div>
					<div class="form-group">
						<h:outputLabel for="postTags" class="col-sm-2 control-label">Tags</h:outputLabel>
						<div class="col-sm-8">
							<h:inputText id="postTags" value="#{editPostBean.post.tags}">
								<f:converter
									converterId="com.sechristfamily.blog.AddTagConverter" />
							</h:inputText>
						</div>
					</div>
					<h:inputHidden id="imageNames" value="#{editPostBean.post.images}">
						<f:converter converterId="com.sechristfamily.blog.ImageConverter" />
					</h:inputHidden>
					<div class="row">
						<div class="col-sm-offset-7 col-sm-3" style="text-align: center;">
							<h:panelGroup rendered="#{editPostBean.post.isPublished()}">
								<h:outputLink styleClass="btn btn-default"
									value="#{request.contextPath}/">Cancel</h:outputLink>
								<h:commandButton styleClass="btn btn-primary" id="updateBtn"
									type="submit" action="#{editPostBean.update}" value="Update" />
							</h:panelGroup>

							<h:panelGroup rendered="#{!editPostBean.post.isPublished()}">
								<h:outputLink class="btn btn-default"
									value="#{request.contextPath}/">Cancel</h:outputLink>
								<h:commandButton class="btn btn-default" id="saveBtn"
									type="submit" action="#{editPostBean.save}" value="Save" />
								<h:commandButton class="btn btn-primary" id="publishBtn"
									type="submit" action="#{editPostBean.publish}" value="Publish" />
							</h:panelGroup>
						</div>
					</div>
				</h:form>
				<div id="preview" class="dropzone-previews" style="display: none;"></div>
			</div>
		</ui:define>

		<ui:define name="extraScripts">
			<script src="#{request.contextPath}/resources/js/selectize.min.js"></script>
			<script
				src="#{request.contextPath}/resources/js/bootstrap-datepicker.js"></script>
			<script src="#{request.contextPath}/resources/js/dropzone.js"></script>
			<script src="#{request.contextPath}/resources/editor/external/jquery.hotkeys.js"></script>
			<script src="#{request.contextPath}/resources/editor/bootstrap-wysiwyg.js"></script>
			<script src="#{request.contextPath}/resources/js/editPost.js"></script>
		</ui:define>
	</ui:composition>
</h:body>
</html>
