<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<f:event type="preRenderView" listener="#{userServiceBean.logout}" />
<h:head>
	<title>Home page</title>
</h:head>

<body>
	<h3>Hello world!</h3>
</body>
</html>