<link rel="import" href="../resources/components/polymer/polymer.html">
<link rel="import" href="../resources/components/core-icon-button/core-icon-button.html">
<link rel="import" href="post-tag.html">

<polymer-element name="post-card-admin" attributes="pId url date name text tags isPublished">
	<template>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="../resources/css/post-card.css">
		<style>
		:host {
			width: 100%;
		}
		</style>
		
			<div class="well" layout vertical>
				<div horizontal layout>
					<div flex>
						<h3 hidden?="{{!isPublished}}" class="text-primary">Published!</h3>
						<h3 hidden?="{{isPublished}}" class="text-danger">Not Published!</h3>
					</div>
					<div flex self-center horizontal end-justified layout>
						<core-icon-button id="publishPost" icon="launch" hidden?="{{isPublished}}" data-id="{{pId}}"></core-icon-button>
						<core-icon-button id="editPost" icon="create" data-id="{{pId}}"></core-icon-button>
						<core-icon-button id="deletePost" icon="clear" data-id="{{pId}}"></core-icon-button>
					</div>
				</div>
				<a href="{{url}}">
					<h4>{{date}}</h4>
					<h2>{{name}}</h2>
					<p>{{text}}</p>
					<div layout horizontal wrap>
						<template repeat="{{tag in tags}}">
							<post-tag url="{{tag.url}}" name="{{tag.name}}"></post-tag>
						</template>
	        		</div>
	        	</a>
			</div>
		<content></content>
	</template>
	<script>
		Polymer({
			ready: function() {
				this.$.publishPost.onclick = function() {
					$.ajax({
					    url: CONTEXT_URL + '/api/posts/' + $(this).data("id"),
					    type: 'POST',
					    success: function(result) {
					    	alert("Post Published Successfully!");
					        location.reload();
					    }
					});
					return false;
				};
				this.$.editPost.onclick = function() {
					window.location.assign(CONTEXT_URL + "/posts/admin/edit/" + $(this).data("id"));
					return false;
				};
				this.$.deletePost.onclick = function() {
					var r=confirm("Are you sure you want to delete this Post forever?");
					if (r==true) {
						$.ajax({
						    url: CONTEXT_URL + '/api/posts/' + $(this).data("id"),
						    type: 'DELETE',
						    success: function(result) {
						        location.reload();
						    }
						});
					}
					return false;
				}
			}
		});
	</script>
</polymer-element>