<link rel="import" href="../resources/components/polymer/polymer.html">
<link rel="import" href="../resources/components/core-ajax/core-ajax.html">
<link rel="import" href="post-card.html">
<link rel="import" href="post-tag.html">

<polymer-element name="post-tag-list" attributes="tag">
  <template>
    <style>
    :host {
    }
    </style>

    <core-ajax
      auto
      url="../api/posts/?tag={{tag}}"
      response="{{posts}}"
      handleAs="json">
    </core-ajax>
    
    <div layout vertical center>
      <template repeat="{{post in posts}}">
        <post-card url="posts/{{post.url}}" date="{{post.datePosted}}" 
        	name="{{post.title}}" text="{{post.text}}" tags="{{post.tags}}">
        </post-card>
      </template>
    </div>
  </template>
  <script>
  Polymer({});
  </script>

</polymer-element>
