<link rel="import" href="../resources/components/polymer/polymer.html">
<link rel="import" href="post-tag.html">

<polymer-element name="post-card" attributes="url date name text tags">
	<template>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="../resources/css/post-card.css">
		<style>
		:host {
			width: 100%;
		}
		</style>
		
		<a href="{{url}}">
			<div class="well" layout vertical>
				<h4>{{date}}</h4>
				<h2>{{name}}</h2>
				<p>{{text}}</p>
				<div layout horizontal wrap>
					<template repeat="{{tag in tags}}">
						<post-tag url="{{tag.url}}" name="{{tag.name}}"></post-tag>
					</template>
        		</div>
			</div>
		</a>
		<content></content>
	</template>
	<script>
		Polymer({});
	</script>
</polymer-element>