<link rel="import" href="../resources/components/polymer/polymer.html">

<polymer-element name="post-tag" attributes="url name">
	<template>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<style>
			.label {
				font-size: medium;
				font-weight: 400;
				background-color: #ffba59;
			}
			a:hover,
			a:focus {
				text-decoration: none;
			}
			.label:hover,
			.label:focus {
				background-color: #ffb800;
			}
		</style>
		<div class="inline">
			<a href="{{url}}">
				<span class="label">{{name}}</span>
			</a>
		</div>
	</template>
	<script>
		Polymer({});
	</script>
</polymer-element>