<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title><ui:insert name="pageTitle">[Missing page title]</ui:insert></title>
	
	<link rel="import"
		href="#{request.contextPath}/resources/components/core-drawer-panel/core-drawer-panel.html"/>
	<link rel="import" 
		href="#{request.contextPath}/resources/components/core-scroll-header-panel/core-scroll-header-panel.html"/>
	<link rel="import" 
		href="#{request.contextPath}/resources/components/core-toolbar/core-toolbar.html"/>
	<link rel="import" 
		href="#{request.contextPath}/resources/components/core-icon-button/core-icon-button.html"/>
	<link rel="import"
		href="#{request.contextPath}/resources/components/core-media-query/core-media-query.html"/>

	<link rel="icon" type="image/x-icon"
		href="#{request.contextPath}/resources/favicon.ico" />
	<link
		href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100'
		rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Belleza'
		rel='stylesheet' type='text/css' />
	<link rel="stylesheet"
		href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
	<h:outputStylesheet library="css" name="minimal.css"/>
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<h:outputStylesheet library="css" name="bootstrap-theme.min.css" />
	<h:outputStylesheet library="css" name="styles.css" />
	<ui:insert name="extraStyle"></ui:insert>
	<!-- Polymer Platform -->
	<script src="#{request.contextPath}/resources/components/platform/platform.js"></script>
	<script type="text/javascript">
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		ga('create', 'UA-47023901-2', 'sechristfamily.com');
		ga('send', 'pageview');
	 </script>
</h:head>

<h:body>

  <core-drawer-panel responsiveWidth="999999px">
  	
  		<div drawer="">
  			<form class="navbar-form" role="search">
				<div class="form-group">
					<input name="q" type="text" class="form-control searchBar" placeholder="Search" />
				</div>
			</form>
			<ul class="list-unstyled">
				<h:panelGroup rendered="#{userServiceBean.loggedIn}">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle"
							data-toggle="dropdown">#{userServiceBean.userEmail} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#{request.contextPath}/posts/admin/add">New Post!</a></li>
							<li class="divider"></li>
							<li><a href="#{userServiceBean.accountUri}">Edit Account</a></li>
							<li><a href="#{request.contextPath}/posts/admin/logout">Logout</a></li>
						</ul>
					</li>
				</h:panelGroup>
				<h:panelGroup rendered="#{!userServiceBean.loggedIn}">
					<li><a href="#{request.contextPath}/posts/admin/login">Login</a></li>
				</h:panelGroup>
			</ul>
  		</div>
  	
  		<div main="">
  		
  		  <core-scroll-header-panel condenses="" condensedHeaderHeight="60">
  
			<core-toolbar>
				<div flex=""></div>
				<form id="searchForm" class="navbar-form" role="search">
					<div class="form-group">
						<input name="q" type="text" class="form-control searchBar" placeholder="Search" />
					</div>
				</form>
				<ul id="accountInfo" class="list-unstyled">
					<h:panelGroup rendered="#{userServiceBean.loggedIn}">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle"
								data-toggle="dropdown">#{userServiceBean.userEmail} <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#{request.contextPath}/posts/admin/add">New Post!</a></li>
								<li class="divider"></li>
								<li><a href="#{userServiceBean.accountUri}">Edit Account</a></li>
								<li><a href="#{request.contextPath}/posts/admin/logout">Logout</a></li>
							</ul>
						</li>
					</h:panelGroup>
					<h:panelGroup rendered="#{!userServiceBean.loggedIn}">
						<li><a href="#{request.contextPath}/posts/admin/login">Login</a></li>
					</h:panelGroup>
				</ul>
				<core-icon-button id="menuBtn" class="hidden" icon="menu"></core-icon-button>
				<div class="bottom title"><a href="#{request.contextPath}/"><h2>Sechrist Blog</h2></a></div>
			</core-toolbar>
			
			<div content="">
			
				<div id="wrap">
					<div id="background" class="container">
						<ui:insert name="belowNav"></ui:insert>
						<ui:insert name="content"></ui:insert>
					</div>
				</div>
			
				<div id="footer" class="container">
					<div class="text-muted">
						<a href="http://www.sechristfamily.com/">www.sechristfamily.com</a> <br />
						<div id="commitId" data-toggle="tooltip" title="${git.commit.id}"
							data-placement="bottom" data-delay="500">Build
							${git.commit.id.abbrev}</div>
					</div>
				</div>
				
			</div>
			
		  </core-scroll-header-panel>
			
		</div>
	
  </core-drawer-panel>
	
  <core-media-query query="max-width: 770px"></core-media-query>

	<script type="text/javascript">
	  var CONTEXT_URL = "#{request.contextPath}";

	  var query = document.querySelector('core-media-query');
	  var searchForm = document.getElementById('searchForm');
	  var accountInfo = document.getElementById('accountInfo');
	  var menuBtn = document.getElementById('menuBtn');
	  var drawer = document.querySelector('core-drawer-panel');
	  query.addEventListener('core-media-change', function() {
		console.log(query.queryMatches);
		if (query.queryMatches) {
			if (searchForm.className.indexOf("hidden") == -1) {
				searchForm.className += " hidden";
				accountInfo.className += " hidden";
				menuBtn.className = menuBtn.className.replace("hidden", "");
			}
		} else {
			if (searchForm.className.indexOf("hidden") != -1) {
				searchForm.className = searchForm.className.replace(" hidden", "");
				accountInfo.className = accountInfo.className.replace(" hidden", "");
				menuBtn.className = "hidden";
			}
		}
	  });

	  menuBtn.onclick = function() {
		drawer.togglePanel();
	  }
	</script>
	<h:outputScript library="js" name="pace.js"></h:outputScript>
	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<h:outputScript library="js" name="template.js"></h:outputScript>
	<ui:insert name="extraScripts"></ui:insert>
</h:body>
</html>
