<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

<f:metadata>
	<f:viewParam name="q" value="#{displayPostsBean.query}" />
	
	<f:viewParam name="i" value="#{displayPostsBean.index}" />
</f:metadata>

<h:head></h:head>

<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="extraStyle">
			<h:panelGroup rendered="#{!userServiceBean.loggedIn}">
				<link rel="import" href="templates/post-card.html" />
			</h:panelGroup>
			<h:panelGroup rendered="#{userServiceBean.loggedIn}">
				<link rel="import" href="templates/post-card-admin.html" />
			</h:panelGroup>
		</ui:define>
	
		<ui:define name="pageTitle">Sechrist Blog</ui:define>

		<ui:define name="belowNav">
			<ul class="list-inline hidden-xs" style="text-align: center;">
				<ui:repeat var="image" value="#{displayPostsBean.randomImages}">
					<li>
						<h:outputLink value="posts/#{image.post.title}"
							converter="com.sechristfamily.blog.PostTitleUrlConverter">
							<img src="api/image/#{image.fileName}" class="img-responsive"
								style="max-height: 200px;" />
						</h:outputLink>
					</li>
				</ui:repeat>
			</ul>
		</ui:define>

		<ui:define name="content">
			<h:panelGroup rendered="#{displayPostsBean.query != null}">
				<h4>Search Results for "#{displayPostsBean.query}"</h4>
			</h:panelGroup>
			<h:panelGroup rendered="#{!userServiceBean.loggedIn}">
				<ui:repeat var="post" value="#{displayPostsBean.posts}">
					<post-card url="posts/#{post.url}" date="#{post.datePosted}"
						name="#{post.title}" text="#{post.text}" tags="#{post.tags}">
					</post-card>
				</ui:repeat>
			</h:panelGroup>
			<h:panelGroup rendered="#{userServiceBean.loggedIn}">
				<ui:repeat var="post" value="#{displayPostsBean.posts}">
					<post-card-admin pId="#{post.id}" url="posts/#{post.url}" date="#{post.datePosted}"
						name="#{post.title}" text="#{post.text}" tags="#{post.tags}" isPublished="#{post.isPublished()}">
					</post-card-admin>
				</ui:repeat>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{displayPostsBean.numOfPages > 1}">
				<div style="text-align: center;">
					<ul class="pagination pagination-lg">
						<h:panelGroup rendered="#{displayPostsBean.index != 1}">
							<li><a href="#{displayPostsBean.index - 1}">«</a></li>
						</h:panelGroup>
						<h:panelGroup rendered="#{displayPostsBean.index == 1}">
							<li class="disabled"><a href="1">«</a></li>
						</h:panelGroup>
						<ui:repeat var="i" value="#{displayPostsBean.indexArray}">
							<h:panelGroup rendered="#{displayPostsBean.index == i}">
								<li class="active"><a href="#{i}">#{i}</a></li>
							</h:panelGroup>
							<h:panelGroup rendered="#{displayPostsBean.index != i}">
								<li><a href="#{i}">#{i}</a></li>
							</h:panelGroup>
						</ui:repeat>
						<h:panelGroup rendered="#{displayPostsBean.index != displayPostsBean.numOfPages}">
							<li><a href="#{displayPostsBean.index + 1}">»</a></li>
						</h:panelGroup>
						<h:panelGroup rendered="#{displayPostsBean.index == displayPostsBean.numOfPages}">
							<li class="disabled"><a href="#{displayPostsBean.numOfPages}">»</a></li>
						</h:panelGroup>
					</ul>
				</div>
			</h:panelGroup>
		</ui:define>
	</ui:composition>
</h:body>
</html>