<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

<f:metadata>
	<f:viewParam name="name" value="#{displayTagBean.tagName}" />
</f:metadata>

<h:head></h:head>

<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="extraStyle">
			<h:panelGroup rendered="#{!userServiceBean.loggedIn}">
				<link rel="import" href="#{request.contextPath}/templates/post-tag-list.html" />
			</h:panelGroup>
			<h:panelGroup rendered="#{userServiceBean.loggedIn}">
				<link rel="import" href="#{request.contextPath}/templates/post-tag-list-admin.html" />
			</h:panelGroup>
		</ui:define>
	
		<ui:define name="pageTitle">Sechrist Blog - Tag: 
			<h:outputText value="#{displayTagBean.tagName}" />
		</ui:define>

		<ui:define name="content">
			<h3>
				Posts with the Tag:
				<h:outputText value="#{displayTagBean.tagName}" />
			</h3>
			<h:panelGroup rendered="#{!userServiceBean.loggedIn}">
				<post-tag-list tag="#{displayTagBean.tagName}"></post-tag-list>
			</h:panelGroup>
			<h:panelGroup rendered="#{userServiceBean.loggedIn}">
				<post-tag-list-admin tag="#{displayTagBean.tagName}"></post-tag-list-admin>
			</h:panelGroup>
		</ui:define>

		<ui:define name="extraScripts">
			<script>
			$('.deletePost').on("click", function() {
				var r=confirm("Are you sure you want to delete this Post forever?");
				if (r==true) {
					$.ajax({
					    url: CONTEXT_URL + '/api/posts/' + $(this).data("id"),
					    type: 'DELETE',
					    success: function(result) {
					        location.reload();
					    }
					});
				}
				return false;
			});
		</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>